<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../css/form_reg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Form reg</title>
</head>
<body class="grid_reg">
<header class="header_reg"></header>
<div class="left-spam"></div>
<main>
    <div class="block">
        <form id="form">
            <fieldset>
                <legend>Регистрация</legend>
                <label for="name">Имя</label><input id="name" type="name" class="menu" placeholder="Иван" required><span></span><br>
                <label for="surname">Фамилия</label><input id="surname" type="name" class="menu" placeholder="Иванов" required><span></span><br>
                <label for="city">Город</label><input id="city" type="name" class="menu" placeholder="Минск" required><span></span><br>
                <label for="mail">Эл. почта</label><input id="mail" type="email" class="menu" placeholder="example@gmail.com" required><span></span><br>
                <label for="password">Пароль</label><input id="password"  type="password" class="menu" pattern="[0-9]{7,}" required placeholder="Введите пароль"><span></span><br>
                <label for="password">Повторите</label><input ud="password" type="password" class="menu" placeholder="Повторите пароль" required pattern="[0-9]{7,}"><span></span><br>
                <p>Введите число с картинками</p><br>
                <label class="pic" for="number"></label><input id="number" type="text" class="picinput" pattern="[0-9]{5}"  placeholder="Введите 5 цифр" required><span></span>
            </fieldset>
        </form>

        <div class="button">
            <label class="qwe" for="button"><input id="button" form="form" type="submit">Зарегистрироваться</label>
        </div>

    </div>
</main>
<div class="right-spam"></div>
<footer class="footer_reg"></footer>
</body>
</html>