<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../css/marcetplase.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Имя товара на который ткнули</title>
</head>
<body class="main_content">
<header class="header_area">
    <nav>
        <ul class="grid-menu grid-menu_p grid-menu_t grid-menu_mt">
            <li class="logo_area content-center">
                <a href="#"><img src="https://picsum.photos/700"></a>
            </li>
            <li class="main_area content-center">
                <div><a href="main.php"><p>Главная</p></a></div>
            </li>
            <li class="catalog_area content-center">
                <div><a href="#"><p>Каталог</p></a></div>
                <ul >
                    <li class="content-center">
                        <div><a href="#">Комьпьютеры</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Ноутбуки</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Смартфоны</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Планшеты</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Оргтехника</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Аксесуары</a></div>
                    </li>
                </ul>
            </li>
            <li class="bascet_area content-center">
                <div><a href="#"><img src="https://picsum.photos/700"></a></div>
            </li>
            <li class="register_area content-center">
                <div><a href="#"><p>Регистрация</p></a> </div>
            </li>
            <li class="entrance_area content-center">
                <div><a href="#auth"><p>Вход</p></a></div>
            </li>
        </ul>
    </nav>
</header>
<main class="main_content_area">
    <div class="production_p production_t production_tm">
        <h1>Назание товара</h1>
        <div class="container_gallery p t tm">
            <div class="grid_gallery container_gallery_p container_gallery_t container_gallery_mt">
                <div class="big_market_photo_area">
                    <div class="big_market_photo"><img src="https://picsum.photos/700"></div>
                </div>
                <div>
                    <div class="min_market_photo_area_1 min_market_photo"><img src="https://picsum.photos/700"></div>
                </div>
                <div>
                    <div class="min_market_photo_area_2 min_market_photo"><img src="https://picsum.photos/700"></div>
                </div>
                <div>
                    <div class="min_market_photo_area_3 min_market_photo"><img src="https://picsum.photos/700"></div>
                </div>
                <div>
                    <div class="min_market_photo_area_4 min_market_photo"><img src="https://picsum.photos/700"></div>
                </div>
                <div>
                    <div class="min_market_photo_area_5 min_market_photo"><img src="https://picsum.photos/700"></div>
                </div>
            </div>
        </div>
        <h2>Описание товара</h2>
        <div>
            <p>Текст с описанием товара художественной направленности</p>
        </div>
        <h2>Технические характеристики</h2>
        <div>
            <ul>
                <li>Характеристика 1</li>
                <li>Характеристика 2</li>
                <li>Характеристика 3</li>
                <li>Характеристика 4</li>
                <li>Характеристика 5</li>
                <li>Характеристика 6</li>
                <li>Характеристика 7</li>
                <li>Характеристика 8</li>
                <li>Характеристика 9</li>
                <li>Характеристика 10</li>
                <li>Характеристика 11</li>
            </ul>
        </div>
        <h3>Также смотрят</h3>
        <div class="flex-row content-center grid_also_p grid_also_t grid_also_mt">
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
        </div>
        <h3>С этим покупают</h3>
        <div class="flex-row content-center grid_also_p grid_also_t grid_also_mt">
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
            <div class="cards_bue_too">
                <div class="flex-column flex-2">
                    <div class="flex-100%"><h4>Название товара</h4></div>
                    <div class="flex-100%"><img src=https://picsum.photos/700></div>
                    <div class="flex-100%"><a href="#">Перейти к товару</a></div>
                </div>
            </div>
        </div>
        <h3>Оставить коментарий</h3>
        <div class="flex-column">
            <div class="flex-100%"><textarea placeholder="Введите текст коментария"></textarea></div>
            <div class="flex-100%"><input type="submit" value="Отрпавить"></div>
        </div>
        <div class="grid_comment comment_card">
            <div class="photo_area"><img src="https://picsum.photos/700"></div>
            <div class="name_area"><h5>Имя коментатора</h5></div>
            <div class="date_area"><h5>30.10.1995</h5></div>
            <div class="text_area"><p>Текст коментатора</p></div>
            <div class="button_area"><h5>Читать полнстью</h5></div>
        </div>
    </div>
</main>
<footer class="footer_area flex-row space-around content-center">
    <div class="flex-column">
        <div class="flex-column">
            <div class="flex-6"><p>+7 (812) 658-94-76</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>+7 (911) 758-77-32</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>+7 (812) 658-94-76</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>vintmarket@mail.ru</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>vintopttorg@mail.ru</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>СПБ проспект Демьянова д.6</p></div>
        </div>
    </div>
    <section>
        <h5>Соц. сети</h5>
        <div class="social">
            <a href="#" class="facebook"></a>
            <a href="#" class="twitter"></a>
            <a href="#" class="youtube"></a>
            <a href="#" class="instagram"></a>
            <a href="#" class="google"></a>
        </div>
    </section>
</footer>
<section class="modal" id="auth">
    <form class="flex-column" name="auth" action="#" method="post">
        <label>
            <input type="email" name="email" placeholder="Введите e-mail">
        </label>
        <label>
            <input type="password" name="pwd" placeholder="Введите пароль">
        </label>
        <label>
            <input type="submit" value="Войти">
        </label>
    </form>
    <a class="close-modal" href="#">X</a>
</section>
</body>
</html>