<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../css/personal_account.css">
    <meta charset="UTF-8">
    <title>Personal account</title>
</head>
<body class="main_content">
<header class="header_area">
    <nav>
        <ul class="grid-menu">
            <li class="logo_area content-center">
                <a href="#"><img src="https://picsum.photos/700"></a>
            </li>
            <li class="main_area content-center">
                <div><a href="main.php"><p>Главная</p></a></div>
            </li>
            <li class="catalog_area content-center">
                <div><a href="#"><p>Каталог</p></a></div>
                <ul >
                    <li class="content-center">
                        <div><a href="#">Комьпьютеры</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Ноутбуки</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Смартфоны</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Планшеты</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Оргтехника</a></div>
                    </li>
                    <li class="content-center">
                        <div><a href="#">Аксесуары</a></div>
                    </li>
                </ul>
            </li>
            <li class="bascet_area content-center">
                <div><a href="#"><img src="https://picsum.photos/700"></a></div>
            </li>
            <li class="register_area content-center">
                <div><a href="#"><p>Перейти в личный кабинет</p></a> </div>
            </li>
            <li class="entrance_area content-center">
                <div><a href="#"><p>Выход</p></a></div>
            </li>
        </ul>
    </nav>
</header>
<main class="main_content_area">
<div class="account_grid">
    <div class="flex-column">
        <a href="#">Отложеные товары</a>
        <a href="#">История покупок</a>
        <a href="#">Способы оплаты</a>
        <a href="#">Настройки</a>
    </div>
    <div>
        <section class="modal_product">
            <div class="product_grid">
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Название товара</p>
                <p>Ссылка на товар</p>
                <p>Далее</p>
            </div>
        </section>
        <section class="modal_history">
            <div class="history_grid">
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Название товара</p>
                <p>Дата покупки</p>
                <a href="#">Ссылка на товар</a>
                <p>Далее</p>
            </div>
        </section>
        <section class="modal_pay">
            <div class="pay_grid">
                <a><img src="https://picsum.photos/700"></a>
                <a><img src="https://picsum.photos/700"></a>
                <a><img src="https://picsum.photos/700"></a>
                <a><img src="https://picsum.photos/700"></a>
                <p>Номер карты</p>
                <input type="text" name="card_number" maxlength="16" placeholder="xxxx xxxx xxxx xxxx" required>
                <p>Срок действия</p>
                <p>Код безопасности</p>
                <input type="text" name="card_day_mouth" required maxlength="4" placeholder="DD/MM">
                <input type="text" name="card_day_yer" required maxlength="4" placeholder="YYYY">
                <input type="text" name="card_siv" required maxlength="4" placeholder="">
                <p>Имя</p>
                <p>Фамилия</p>
                <input type="text" name="card_name" required maxlength="" placeholder="Имя">
                <input type="text" name="card_surname" required maxlength="" placeholder="Фамилия">
                <p>Индекс</p>
                <p>Страна</p>
                <input type="text" name="card_siv" required maxlength="4" placeholder="">
                <input type="text" name="card_siv" required maxlength="4" placeholder="Россия">
                <input type="submit" name="member_card" value="Добавить">
            </div>
        </section>
    </div>
</div>
</main>
<footer class="footer_area flex-row space-around content-center">
    <div class="flex-column">
        <div class="flex-column">
            <div class="flex-6"><p>+7 (812) 658-94-76</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>+7 (911) 758-77-32</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>+7 (812) 658-94-76</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>vintmarket@mail.ru</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>vintopttorg@mail.ru</p></div>
        </div>
        <div class="flex-column">
            <div class="flex-6"><p>СПБ проспект Демьянова д.6</p></div>
        </div>
    </div>
    <section>
        <h5>Соц. сети</h5>
        <div class="social">
            <a href="#" class="facebook"></a>
            <a href="#" class="twitter"></a>
            <a href="#" class="youtube"></a>
            <a href="#" class="instagram"></a>
            <a href="#" class="google"></a>
        </div>
    </section>
</footer>
</body>
</html>